//$whitesmoke    = #E1BEE7
//$gainsboro     = #CE93D8
//$gray-lighter  = #BA68C8
//$grey          = #AB47BC
//$grey-dark     = #9C27B0
//$grey-dim      = #8E24AA
//$black-light   = #7B1FA2
//$black-dim     = #6A1B9A
//$black-deep    = #4A148C

//$body-bg-color = #F1F8E9

$whitesmoke    = #FFCDD2
$gainsboro     = #EF9A9A
$gray-lighter  = #E57373
$grey          = #EF5350
$grey-dark     = #F44336
$grey-dim      = #E53935
$black-light   = #D32F2F
$black-dim     = #C62828
$black-deep    = #B71C1C

$body-bg-color = #FFFDE7